<h1>Photo <%= @id %></h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Caption</th>
  </tr>
  <tr>
    <td>
      <img src="<%= @source %>" width="80">
    </td>
    <td>
      <%= @caption %>
    </td>
  </tr>
</table>
